<!DOCTYPE html>
<html>

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/supplier/edit.css">
    <script>
    $(function() {
        $("#photo").change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    });
    </script>
</head>

<body>
    <div class="navbar-header">
        <div class="navbar-brand pull-right">
            <img src="/images/logo.png" alt="Brand Image">
        </div>
        <div id="main">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="font-size:30px;color:#6F916F;"></span>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center">修改商品</h1>
        <hr>
        <form action="/product/edit/save" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= product.id %>">
            <div class="form-group">
                <h4><label for="name">商品名稱:</label></h4>
                <input type="text" name="name" id="name" placeholder="請輸入商品名稱" value="<%= product.name %>">
            </div>
            <div class="form-group">
                <h4><label for="price">商品價格:</label></h4>
                <input type="text" name="price" id="price" placeholder="請輸入商品價格" value="<%= product.price %>">
            </div>
            <div class="form-group">
                <h4><label for="description">商品簡介:</label></h4>
                <textarea rows="3" name="description" id="description" placeholder="請輸入商品簡介"><%= product.description %></textarea>
            </div>
            <div class="form-group">
                <h4><label for="photo">商品圖片:</label></h4>
                <input type="file" accept="image/*" capture="camera" name="photo" id="photo">
            </div>
            <div>
                <input type="hidden" name="url" value="<%= product.photo %>">
                <img id="preview" src="<%= product.photo %>" class="img-responsive" alt="圖片" style="width:200px;height:200px;border:1px solid;border-radius:6px;">
            </div>
            <br>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-lg btn-success" id="save">儲存</button>
                <a href="/product">
                    <button class="btn btn-lg btn-success" id="cancel">取消</button>
                </a>
            </div>
        </form>
    </div>
</body>

</html>
