<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/supplier/order.css">
</head>

<body>
    <% if(supplierm) {%>
        <div class="navbar-header">
            <div class="navbar-brand pull-right">
                <img src="/images/logo.png" alt="Brand Image">
            </div>
            <div id="mySidenav" class="sidenav sidenav-hover">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;<%= supplierm.storeName %>, 您好!</h3>
                <a href="/product"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;首頁</a>
                <a href="/product/add"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;新增商品</a>
                <a href="/order"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;查看訂單</a>
                <a href="/supplier_info"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;商家資料</a>
                <form action="/supplier/logout" method="POST">
                    <a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;<input id="logout" type="submit" value="登出"></a>
                </form>
            </div>
            <div id="main">
                <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <h1>所有訂單</h1>
                    <hr>
                    <% if(nameList) { %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>買方<br>編號</th>
                                    <th>時間</th>
                                    <th>狀態</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% nameList.forEach(function(order) { %>
                                    <tr>
                                        <td>
                                            <%= order.memberId %>
                                        </td>
                                        <td>
                                            <%= order.date %>
                                                <br>
                                                <%= order.time %>
                                        </td>
                                        <td>
                                            <% if(order.status == 1) { %>
                                                <% if(order.received == 1) { %>
                                                    完成
                                                    <% } else { %>
                                                        處理中
                                                        <% } %>
                                                            <% } else { %>
                                                                待處理
                                                                <% } %>
                                        </td>
                                        <td>
                                            <a href="/order/<%= order.memberId %>/<%= order.date %>/<%= order.time %>">
                                                <button type="button" class="btn btn-lg btn-info">詳情
                                                </button>
                                            </a>
                                        </td>
                                        <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h3 class="text-center">目前無訂單</h3>
                            <% } %>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <% }%>
            <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            </script>
</body>

</html>
