<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/supplier/supplier_info.css">
</head>

<body>
    <% if(supplierm) {%>
        <div class="navbar-header">
            <div class="navbar-brand pull-right">
                <img src="/images/logo.png" alt="Brand Image">
            </div>
            <div id="mySidenav" class="sidenav sidenav-hover">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;<%= supplierm.storeName %>, 您好!</h3>
                <a href="/product"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;首頁</a>
                <a href="/product/add"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;新增商品</a>
                <a href="/order"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;查看訂單</a>
                <a href="/supplier_info"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;商家資料</a>
                <form action="/supplier/logout" method="POST">
                    <a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;<input id="logout" type="submit" value="登出"></a>
                </form>
            </div>
            <div id="main">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()"></span>
            </div>
        </div>
        <div class="container text-center">
            <div class="row" id="picture">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1><%= supplierm.storeName %></h1>
                    <% if(supplierm.photo == null) {%>
                        <img class="img-thumbnail" src="http://www.newdesignfile.com/postpic/2012/05/store-icon_281737.png">
                        <% } else {%>
                            <img class="img-thumbnail" src="<%= supplierm.photo %>">
                            <% }%>
                                <br>
                                <br>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-left">
                    <table class="table" style="font-size: 20px">
                        <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%= supplierm.name %>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%= supplierm.phonenum %>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%= supplierm.city %>
                                        <%= supplierm.hometown %>
                                            <%= supplierm.address %>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    ************<%= supplierm.card4 %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <a href="/supplier_edit" class="btn btn-success btn-lg" role="button" id="member">修改資料</a>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br>
        </div>
        <% } %>
            <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            </script>
</body>

</html>
