<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/third/my_detail.css">
</head>

<body>
    <div class="navbar-header">
        <div class="navbar-brand pull-right">
            <img src="/images/logo.png" alt="Brand Image">
        </div>
        <div id="main">
            <span style="font-size:30px;cursor:pointer;color:#6F916F" onclick="openNav()">&#9776; 
        </span>
        </div>
    </div>
    <div class="container">
        <div class="row content">
            <div class="col-sm-12 text-center">
                <h1>簽收明細</h1>
                <h3><%= date %> <%= time %></h3>
                <br>
                <form action="/my_order" method="POST">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>店名/品項</th>
                                <th>單價</th>
                                <th>數量</th>
                                <th>小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% buyList.forEach(function(buy) { %>
                                <input type="hidden" name="buyId" value="<%= buy.id %>">
                                <tr>
                                    <td>
                                        <%= buy.supplier.storeName %>
                                            <br>
                                            <%=buy.name %>
                                    </td>
                                    <td>
                                        <%= buy.price %>
                                    </td>
                                    <td>
                                        <%= buy.quantity %>
                                    </td>
                                    <td>
                                        <%= buy.total %>
                                    </td>
                                </tr>
                                <% }) %>
                                    <tr style="color:red">
                                        <td><strong>總金額(元):</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong><%= sum %></strong></td>
                                    </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table text-left">
                        <tbody>
                            <tr>
                                <td> <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%=member.name %>
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%=member.phonenum %>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%=member.city %>
                                        <%=member.hometown %>
                                            <%=member.address%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">我要簽收</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
</body>

</html>
