<!DOCTYPE html>
<html>

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/third/my_order.css">
</head>

<body>
    <% if(third) { %>
        <div class="navbar-header">
            <div class="navbar-brand pull-right">
                <img src="/images/logo.png" alt="Brand Image">
            </div>
            <div id="mySidenav" class="sidenav sidenav-hover">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;<%= third.name %>, 您好!</h3>
                <a href="/third_order"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;首頁</a>
                <a href="/my_order"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;我的訂單</a>
                <a href="/history"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;&nbsp;歷史紀錄</a>
                <form action="/third/logout" method="POST">
                    <a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;<input id="logout" type="submit" value="登出"></a>
                </form>
            </div>
            <div id="main">
                <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <div class="title">
                        <span class="caption"><span class="line line-l"></span>
                        <h1>我的訂單</h1><span class="line line-r"></span></span>
                    </div>
                    <% if(nameList) { %>
                        <h3>狀態: 處理中</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>買方 編號</th>
                                    <th>時間</th>
                                    <th>地區</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% nameList.forEach(function(buy) { %>
                                    <tr>
                                        <td>
                                            <%= buy.memberId %>
                                        </td>
                                        <td>
                                            <%= buy.date %>
                                                <%= buy.time %>
                                        </td>
                                        <td>
                                            <%= buy.member.city %>
                                        </td>
                                        <!-- <td id="status">處理 中</td> -->
                                        <td>
                                            <a href="/my_order/<%= buy.memberId %>/<%= buy.date %>/<%= buy.time %>">
                                                <button type="button" class="btn btn-lg btn-success">詳情
                                                </button>
                                            </a>
                                        </td>
                                        <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h3 class="text-center">目前無訂單</h3>
                            <% } %>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <% } %>
            <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            </script>
</body>

</html>
