<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/member/personal_info.css">
</head>

<body>
    <% if(member) { %>
        <div class="navbar-header">
            <div class="navbar-brand pull-right">
                <img src="/images/logo.png" alt="Brand Image">
            </div>
            <div id="mySidenav" class="sidenav sidenav-hover">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;<%= member.name %>, 您好!</h3>
                <a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;首頁</a>
                <a href="/shopping_cart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;&nbsp;購物車</a>
                <a href="/purchase_rec"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;購買紀錄</a>
                <a href="/personal_info"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;個人資料</a>
                <form action="/register/logout" method="POST">
                    <a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;<input id="logout" type="submit" value="登出"></a>
                </form>
            </div>
            <div id="main">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()"></span>
        </span>
            </div>
        </div>
        <div class="container text-center">
            <div class="row" id="picture">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1><%= member.name %></h1>
                    <img class="img-thumbnail" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR8zrE1DLads0mYqakFoa_ZeChcP39nQvkHOR7tVUlx5mBwnEQdLg">
                    <br>
                    <br>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-left">
                    <table class="table" style="font-size: 20px">
                        <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color: #649965"></span></td>
                                <td>
                                    <%= member.phonenum %>
                                </td>
                            </tr>
                            <% if(member.email) {%>
                                <tr>
                                    <td> <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: #649965"></span></td>
                                    <td>
                                        <%= member.email %>
                                    </td>
                                </tr>
                                <% } %>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: #649965"></span></td>
                                        <td>
                                            <%= member.city %>
                                                <%= member.hometown %>
                                                    <%= member.address %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="color: #649965"></span></td>
                                        <td>
                                            ************
                                            <%= member.card4 %>
                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <a href="/personal_edit" class="btn btn-success btn-lg" role="button" id="member">修改資料</a>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <br>
        <% } %>
            <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            </script>
</body>

</html>
