<!DOCTYPE html>
<html lang="zh">

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/member/shopping_cart.css">
</head>

<body>
    <% if(member) { %>
        <div class="navbar-header">
            <div class="navbar-brand pull-right">
                <img src="/images/logo.png" alt="Brand Image">
            </div>
            <div id="mySidenav" class="sidenav sidenav-hover">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;<%= member.name %>, 您好!</h3>
                <a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;首頁</a>
                <a href="/shopping_cart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;&nbsp;購物車</a>
                <a href="/purchase_rec"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;購買紀錄</a>
                <a href="/personal_info"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;個人資料</a>
                <form action="/register/logout" method="POST">
                    <a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;<input id="logout" type="submit" value="登出"></a>
                </form>
            </div>
            <div id="main">
                <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776; 
                </span>
            </div>
        </div>
        <div class="container">
            <div class="row content">
                <div class="col-sm-12 text-center">
                    <h1>購物車</h1>
                    <hr>
                    <% if(cartList) { %>
                        <form action="/shopping_cart" method="POST">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>店名/品項</th>
                                        <th>單價</th>
                                        <th>數量</th>
                                        <th>小計</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartList.forEach(function(cart) { %>
                                        <input type="hidden" name="cartId" value="<%= cart.id %>">
                                        <tr>
                                            <td>
                                                <%= cart.supplier.storeName %>
                                                    <br>
                                                    <%= cart.name %>
                                            </td>
                                            <td>
                                                <%= cart.price %>
                                            </td>
                                            <td>
                                                <%= cart.quantity %>
                                            </td>
                                            <td>
                                                <%= cart.total %>
                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#deleteProduct_<%= cart.id %>">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                            <!-- deleteProduct Modal -->
                                            <div class="modal fade" id="deleteProduct_<%= cart.id %>" role="dialog">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content col-sm-12">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <div class="modal-title">
                                                                <h2>Elife</h2>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3>確定刪除此項商品?</h3>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="/shopping_cart/<%= cart.id %>">
                                                                <button type="button" class="btn btn-default btn-lg">確定</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        <% }); %>
                                            <tr style="color:red">
                                                <td><strong>總金額(元):</strong></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong><%= sum %></strong></td>
                                                <td></td>
                                            </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="col-xs-6 text-left">
                                <a href="/home">
                                    <button type="button" class="btn btn-success btn-lg">繼續選購</button>
                                </a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button type="submit" class="btn btn-success btn-lg">送出訂單</button>
                            </div>
                        </form>
                        <% } else { %>
                            <h3>購物車內無商品</h3>
                            <br>
                            <div>
                                <a href="/home">
                                    <button type="button" class="btn btn-success btn-lg">繼續選購</button>
                                </a>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
        <% } %>
            <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            </script>
</body>

</html>
