<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="width:85%">
        <% if(supplierm) { %>
            <h3>歡迎，<%= supplierm.name %></h3>
            <div>
                <a href="/product/add">
                    <button class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                </a>
            </div>
            <br>
            <div class="row">
                <% productList.forEach(function(product) { %>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <%= product.name %> $
                                    <%= product.price %>
                            </div>
                            <div class="panel-body">
                                <img src="<%= product.photo %>" class="img-responsive" alt="Image" style="width:100%">
                            </div>
                            <div class="panel-footer">
                                <%= product.description %> By
                                    <%= product.supplier.name %>
                                        <br>
                                        <form action="/product/edit" method="POST" style="float:left">
                                            <input type="hidden" name="id" value="<%= product.id %>">
                                            <button type="submit" class="btn btn-default">修改</button>
                                        </form>
                                        <a data-toggle="modal" data-target="#deleteProduct" style="padding-left:5px">
                                            <button type="button" class="btn btn-default">刪除</button>
                                        </a>
                                        <!-- deleteProduct -->
                                        <div class="modal fade" id="deleteProduct" role="dialog">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content col-sm-12">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <div class="modal-title">
                                                            <h4>Elife</h4>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>確定刪除此項商品?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form action="/product/delete" method="POST" style="padding-left:60px">
                                                            <input type="hidden" name="id" value="<%= product.id %>">
                                                            <button type="submit" class="btn btn-default">確定</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <%  }); %>
            </div>
            <% } %>
    </div>
</body>

</html>
